<a href="https://colab.research.google.com/github/the-bucketless/iihf/blob/main/iihf_stats_and_lineups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests

In [2]:
def get_statistics_dfs(url):
    response = requests.get(url)
    try:
        dfs = pd.read_html(response.text)
    except ValueError:
        dfs = []

    if not len(dfs) > 1:
        return pd.DataFrame(), pd.DataFrame()

    team_skaters = [
        df
        .rename(columns={"j#": "jersey_number"})
        .drop(df.columns[[0, 3]], axis=1)
        .assign(team=dfs[0].teams.iloc[i], home=i == 0)
        for i, df in enumerate(dfs[1:6:4])
    ]

    for i in range(2):
        team_dfs = [dfs[2]] + dfs[10::4] if i == 0 else [dfs[6]] + dfs[12::4]
        for period, df in enumerate(team_dfs):
            if period > 0:
                df = (
                    df
                    .drop(columns="pos")
                    .add_suffix(f"_{period}")
                )

            team_skaters[i] = team_skaters[i].join(df)

    team_goalies = [
        name_df
        .rename(columns={"j#": "jersey_number"})
        .drop(name_df.columns[[0, 3]], axis=1)
        .assign(team=dfs[0].teams.iloc[i], home=i == 0)
        .join(
            stats_df
            .drop(columns=[c for c in stats_df.columns if "Unnamed" in c])
        )
        for i, (name_df, stats_df) in enumerate(zip(dfs[3:9:4], dfs[4:10:4]))
    ]

    skaters = pd.concat(team_skaters)
    goalies = pd.concat(team_goalies)

    skaters["statistics_url"] = url
    goalies["statistics_url"] = url

    return skaters, goalies

In [3]:
def get_lineups_df(url):
    response = requests.get(url)
    try:
        dfs = pd.read_html(response.text)
    except ValueError:
        dfs = []

    if not len(dfs) > 1:
        return pd.DataFrame()

    team_dfs = []
    n_team_dfs = len(dfs) // 2
    for i, df in enumerate(dfs[1:]):
        idx = i // n_team_dfs

        df = (
            df
            .drop(df.columns[0], axis=1)
            .rename(columns={"j#": "jersey_number"})
            .assign(
                line_number=i % n_team_dfs,
                team=dfs[0].teams.iloc[idx],
                home=idx == 0,
            )
        )

        if i > 0:
            df.columns = team_dfs[0].columns

        team_dfs.append(df)

    lineups = pd.concat(team_dfs)
    lineups["lineups_url"] = url

    return lineups

In [4]:
def get_game_dfs(game_url):
    skaters, goalies = get_statistics_dfs(game_url.replace("playbyplay", "statistics"))
    lineups = get_lineups_df(game_url.replace("playbyplay", "lineup"))

    if len(skaters):
        skaters["game_url"] = game_url
    if len(goalies):
        goalies["game_url"] = game_url
    if len(lineups):
        lineups["game_url"] = game_url

    return skaters, goalies, lineups

In [5]:
url = "https://www.iihf.com/en/events/2022/ww/gamecenter/playbyplay/37196/12-den-vs-hun"  #@param {type: "string"}

In [6]:
skaters, goalies, lineups = get_game_dfs(url)

In [13]:
skaters.iloc[:, :-2]

,jersey_number,name,team,home,pos,g,a,p,pim,ts,+/-,tot,shf,avg,ts_1,tot_1,ts_2,tot_2,ts_3,tot_3
0,14,JENSEN Nicoline,DEN,True,F,0,0,0,2,1,1.0,24:44,39.0,0:38,1,8:46,0,7:10,0,8:48
1,15,REFSGAARD Amanda,DEN,True,D,0,0,0,0,0,1.0,27:35,38.0,0:43,0,6:20,0,9:55,0,11:20
2,19,ASPERUP Josephine,DEN,True,D,0,0,0,0,1,0.0,26:17,38.0,0:41,0,7:58,0,9:27,1,8:52
3,21,WEIS Michelle,DEN,True,F,0,0,0,2,4,0.0,20:04,34.0,0:35,2,7:26,1,5:58,1,6:40
4,50,BAU Mia,DEN,True,F,0,0,0,0,1,0.0,10:21,17.0,0:36,1,4:08,0,2:15,0,3:58
5,4,GLUD Silke,DEN,True,F,0,0,0,4,4,1.0,16:37,23.0,0:43,1,7:21,2,4:10,1,5:06
6,8,PERSSON Josefine,DEN,True,F,0,0,0,2,1,1.0,22:23,32.0,0:41,1,6:52,0,6:17,0,9:14
7,22,SKOTT Sofie,DEN,True,D,0,0,0,0,0,0.0,19:03,26.0,0:43,0,6:48,0,5:47,0,6:28
8,63,JAKOBSEN Josefine,DEN,True,F,0,1,1,2,4,0.0,26:07,34.0,0:46,1,8:00,3,8:31,0,9:36
9,80,OSTERGAARD Julie,DEN,True,F,1,0,1,0,1,1.0,21:46,32.0,0:40,0,8:18,0,5:55,1,7:33
10,12,SORENSEN Mille,DEN,True,F,0,0,0,0,0,0.0,16:36,21.0,0:47,0,8:04,0,5:47,0,2:45
11,23,OKSBJERG Julie,DEN,True,F,0,0,0,0,1,0.0,14:40,17.0,0:51,1,3:02,0,5:42,0,5:56
12,27,FRIIS-HANSEN Lilli,DEN,True,F,0,0,0,2,0,0.0,11:08,26.0,0:25,0,4:32,0,3:49,0,2:47
13,68,RUSSELL Emma,DEN,True,D,0,0,0,2,0,0.0,9:17,14.0,0:39,0,4:35,0,2:03,0,2:39
14,87,JACQUET Simone,DEN,True,D,0,0,0,0,0,0.0,4:07,8.0,0:30,0,2:10,0,1:57,0,0:00
15,13,BRIX Michele,DEN,True,F,0,0,0,0,1,0.0,3:23,4.0,0:50,0,2:21,1,1:02,0,0:00
16,17,SKRIVER Sofia,DEN,True,F,0,0,0,0,0,0.0,3:37,4.0,0:54,0,2:09,0,1:28,0,0:00
17,18,PETERS Maria,DEN,True,F,0,0,0,0,0,0.0,3:27,4.0,0:51,0,0:21,0,3:06,0,0:00
18,16,PERRY Natalie,DEN,True,F,0,0,0,0,0,0.0,0:00,0.0,0:00,0,0:00,0,0:00,0,0:00
19,30,JENSEN Lisa,DEN,True,GK,0,0,0,0,0,NaN,NaN,NaN,NaN,0,NaN,0,NaN,0,NaN
20,72,REPSTOCK-ROMME Cassandra,DEN,True,GK,0,0,0,0,0,NaN,NaN,NaN,NaN,0,NaN,0,NaN,0,NaN
0,2,NEMETH Bernadett,HUN,False,D,0,0,0,0,2,-1.0,22:47,30.0,0:45,0,7:20,2,8:14,0,7:13
1,11,GASPARICS Fanni,HUN,False,F,0,0,0,0,13,0.0,22:33,32.0,0:42,1,6:39,7,7:35,5,8:19
2,13,ODNOGA Lotti,HUN,False,D,0,0,0,2,3,-1.0,22:42,35.0,0:38,1,7:44,1,6:54,1,8:04
3,72,SEREGELY Mira,HUN,False,F,0,0,0,0,4,0.0,20:18,28.0,0:43,0,6:18,0,6:41,4,7:19
4,88,KREISZ Emma,HUN,False,F,0,0,0,2,4,0.0,22:27,31.0,0:43,1,7:56,1,7:56,2,6:35
5,4,BAKER Taylor,HUN,False,D,0,0,0,0,4,0.0,17:31,28.0,0:37,2,6:10,0,3:42,2,7:39
6,18,HUSZAK Alexandra,HUN,False,F,0,0,0,0,6,0.0,22:28,29.0,0:46,1,6:32,4,7:28,1,8:28
7,77,METZLER Regina,HUN,False,F,0,0,0,0,0,0.0,10:48,20.0,0:32,0,4:13,0,2:34,0,4:01
8,96,KNEE Sarah,HUN,False,D,0,0,0,0,0,0.0,19:13,26.0,0:44,0,7:16,0,6:09,0,5:48
9,97,JOKAI-SZILAGYI Kinga,HUN,False,F,0,0,0,0,2,0.0,20:01,27.0,0:44,0,6:11,2,6:56,0,6:54
10,3,WILLIAMS Hayley,HUN,False,F,0,0,0,2,2,0.0,16:43,23.0,0:43,1,4:29,1,4:50,0,7:24
11,14,KISS-SIMON Franciska,HUN,False,D,0,0,0,0,1,0.0,18:47,29.0,0:38,0,5:41,1,7:04,0,6:02
12,15,DABASI Reka,HUN,False,F,0,0,0,0,0,0.0,15:57,26.0,0:36,0,4:39,0,6:41,0,4:37
13,17,PAZMANDI Zsofia,HUN,False,F,0,0,0,0,2,0.0,11:53,13.0,0:54,2,4:12,0,4:39,0,3:02
14,71,MAYER Fruzsina,HUN,False,D,0,0,0,0,0,0.0,19:36,25.0,0:47,0,6:11,0,7:50,0,5:35
15,7,MARTON Adel,HUN,False,D,0,0,0,0,0,0.0,0:53,1.0,0:53,0,0:53,0,0:00,0,0:00
16,8,SZAMOSFALVI Petra,HUN,False,F,0,0,0,0,0,-1.0,1:53,7.0,0:16,0,0:13,0,0:40,0,1:00
17,10,HORVATH Imola,HUN,False,F,0,0,0,0,0,-1.0,4:32,8.0,0:34,0,2:46,0,1:17,0,0:29
18,22,RONAI Alexandra,HUN,False,F,0,0,0,0,0,-1.0,3:13,7.0,0:27,0,1:57,0,0:47,0,0:29
19,12,STROBL Lara,HUN,False,F,0,0,0,0,2,0.0,0:57,2.0,0:28,2,0:03,0,0:54,0,0:00
20,1,NEMETH Aniko,HUN,False,GK,0,0,0,0,0,NaN,NaN,NaN,NaN,0,NaN,0,NaN,0,NaN
21,33,REVESZ Zsuzsa,HUN,False,GK,0,0,0,0,0,NaN,NaN,NaN,NaN,0,NaN,0,NaN,0,NaN

In [14]:
goalies.iloc[:, :-2]

,jersey_number,name,team,home,pos,sog,ga,svs,svs%
0,30,JENSEN Lisa,DEN,True,GK,45,0,45,100.00
1,72,REPSTOCK-ROMME Cassandra,DEN,True,GK,0,0,0,0.00
0,1,NEMETH Aniko,HUN,False,GK,19,1,18,94.74
1,33,REVESZ Zsuzsa,HUN,False,GK,0,0,0,0.00

In [15]:
lineups.iloc[:, :-2]

   jersey_number                      Name      Pos  line_number team   home
0           30.0               JENSEN Lisa       GK            0  DEN   True
1           72.0  REPSTOCK-ROMME Cassandra       GK            0  DEN   True
0           15.0          REFSGAARD Amanda        D            1  DEN   True
1           19.0         ASPERUP Josephine        D            1  DEN   True
2           21.0             WEIS Michelle        F            1  DEN   True
3           14.0           JENSEN Nicoline        F            1  DEN   True
4           50.0                   BAU Mia        F            1  DEN   True
0           22.0               SKOTT Sofie        D            2  DEN   True
1           63.0         JAKOBSEN Josefine        F            2  DEN   True
2            4.0                GLUD Silke        F            2  DEN   True
3           80.0          OSTERGAARD Julie        F            2  DEN   True
4            8.0          PERSSON Josefine        F            2  DEN   True
0           87.0            JACQUET Simone        D            3  DEN   True
1           68.0              RUSSELL Emma        D            3  DEN   True
2           23.0            OKSBJERG Julie        F            3  DEN   True
3           27.0        FRIIS-HANSEN Lilli        F            3  DEN   True
4           12.0            SORENSEN Mille        F            3  DEN   True
0           17.0             SKRIVER Sofia        F            4  DEN   True
1           18.0              PETERS Maria        F            4  DEN   True
2           13.0              BRIX Michele        F            4  DEN   True
0           16.0             PERRY Natalie        F            5  DEN   True
0            NaN              EDLUND Bjorn  He. Co.            6  DEN   True
0            1.0              NEMETH Aniko       GK            0  HUN  False
1           33.0             REVESZ Zsuzsa       GK            0  HUN  False
0            2.0          NEMETH Bernadett        D            1  HUN  False
1           13.0              ODNOGA Lotti        D            1  HUN  False
2           11.0           GASPARICS Fanni        F            1  HUN  False
3           88.0               KREISZ Emma        F            1  HUN  False
4           72.0             SEREGELY Mira        F            1  HUN  False
0           96.0                KNEE Sarah        D            2  HUN  False
1            4.0              BAKER Taylor        D            2  HUN  False
2           77.0            METZLER Regina        F            2  HUN  False
3           18.0          HUSZAK Alexandra        F            2  HUN  False
4           97.0      JOKAI-SZILAGYI Kinga        F            2  HUN  False
0           14.0      KISS-SIMON Franciska        D            3  HUN  False
1           71.0            MAYER Fruzsina        D            3  HUN  False
2           15.0               DABASI Reka        F            3  HUN  False
3            3.0           WILLIAMS Hayley        F            3  HUN  False
4           17.0           PAZMANDI Zsofia        F            3  HUN  False
0            7.0               MARTON Adel        D            4  HUN  False
1           10.0             HORVATH Imola        F            4  HUN  False
2           22.0           RONAI Alexandra        F            4  HUN  False
3            8.0         SZAMOSFALVI Petra        F            4  HUN  False
0           12.0               STROBL Lara        F            5  HUN  False
0            NaN               CORTINA Pat  He. Co.            6  HUN  False